#1.slide.active, .place {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
#1.slide.active img {
    z-index: -1;
    max-width: 100%;
    max-height: 100%;
}
